
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Click==7.0
cliff==2.15.0
clyent==1.2.2
cmaes==0.4.0
cmd2==0.9.15
colorama==0.4.3
colorlog==4.1.0
conda==4.8.3
conda-build==3.17.8
conda-package-handling==1.6.0
conda-verify==3.3.0
constantly==15.1.0
coverage==4.5.4
cryptography==2.8
cssselect==1.1.0
cvxpy==1.0.25
cycler==0.10.0
dash==1.11.0
dash-core-components==1.9.1
dash-daq==0.1.7
dash-html-components==1.0.3
dash-renderer==1.4.0
dash-table==4.6.2
decorator==4.4.1
defusedxml==0.6.0
dill==0.3.1.1
docutils==0.16
ecos==2.0.7.post1
eli5==0.8.2
empyrical==0.5.3
entrypoints==0.3
enum-compat==0.0.3
fastdtw==0.3.4
fastparquet==0.3.2
fastTSNE==0.2.13
ffmpeg==1.4
filelock==3.0.12
Flask==1.1.1
Flask-Compress==1.4.0
Flask-SQLAlchemy==2.4.1
fsspec==0.4.1
future==0.18.2
fuzzywuzzy==0.17.0
geographiclib==1.50
geopy==1.20.0
glob2==0.7
graphviz==0.11
hyperlink==19.0.0
idna==2.8
imageio==2.5.0
imbalance-xgboost==0.7.4
imbalanced-learn==0.6.1
importlib-metadata==1.5.0
incremental==17.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.1
json5==0.9.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-conda==3.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==2.0.1
jupyterlab-code-formatter==0.2.1
jupyterlab-git==0.5.0
jupyterlab-gitlab==0.1.0
jupyterlab-server==1.0.6
keyring==21.1.0
keyrings.alt==3.1.1
kiwisolver==1.1.0
libarchive-c==2.8
lightgbm==2.2.1
llvmlite==0.31.0
lxml==4.5.0
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
memory-profiler==0.55.0
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlxtend==0.17.0
more-itertools==8.2.0
multiprocess==0.70.9
navigator-updater==0.2.1
nb-conda-kernels==2.2.3
nbconvert==5.6.1
nbformat==5.0.4
nbresuse==0.3.2
networkx==2.4
noisyopt==0.2.2
notebook==6.0.3
numba==0.48.0
numpy==1.18.1
olefile==0.46
optuna==1.3.0
Orange3==3.19.0
osqp==0.6.1
packaging==20.1
pandas==1.0.1
pandas-datareader==0.8.1
pandas-profiling==1.4.1
pandocfilters==1.4.2
parsel==1.5.2
parso==0.6.1
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.2
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.5.0.1
plotly==4.6.0
pluggy==0.13.1
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
psutil==5.6.7
PuLP==2.0
py==1.8.1
pyarrow==0.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycm==2.4
pycosat==0.6.3
pycparser==2.19
pydeck==0.3.0b1
PyDispatcher==2.0.5
pyfolio==0.9.2
Pygments==2.5.2
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyperclip==1.7.0
pyportfolioopt==0.4.3
pyproj==1.9.6
pyqtgraph==0.10.0
pyreadline==2.1
pyrsistent==0.15.7
pyshp==2.1.0
PySocks==1.7.1
pytest==5.3.5
pytest-runner==5.2
python-dateutil==2.8.1
python-editor==1.0.4
python-Levenshtein==0.12.0
python-louvain==0.13
python-snappy==0.5.4
pytz==2019.3
PyWavelets==1.0.3
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3
pyzmq==18.1.1
qgrid==1.1.1
QtPy==1.9.0
queuelib==1.5.0
requests==2.22.0
retrying==1.3.3
rsa==3.4.2
ruamel-yaml==0.15.87
s3fs==0.3.3
s3transfer==0.2.0
scikit-image==0.15.0
scikit-learn==0.22.1
scipy==1.4.1
Scrapy==1.6.0
scs==2.1.1.post2
seaborn==0.9.0
Send2Trash==1.5.0
serverfiles==0.3.0
service-identity==18.1.0
shap==0.30.1
six==1.14.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
statsmodels==0.11.0
stevedore==1.30.1
streamlit==0.56.0
tabulate==0.8.3
terminado==0.8.3
testpath==0.4.4
thrift==0.11.0
toml==0.10.0
toolz==0.10.0
torch==1.3.1
torchvision==0.4.2
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
tslearn==0.2.5
Twisted==19.10.0
twodict==1.2
typing==3.7.4
tzlocal==2.0.0
urllib3==1.25.8
validators==0.14.2
w3lib==1.21.0
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.4.2
win-inet-pton==1.1.0
wincertstore==0.2
wxPython==4.0.6
xgboost==0.90
xlrd==1.2.0
xmltodict==0.12.0
yahoofinancials==1.5
youtube-dl==2019.6.8
zipp==2.2.0
zope.interface==4.7.1
